<div id="products">
    @for (product of products; track product.brand_name) {
    <div id="product">
        <img [src]="product.image_url" alt="">
        <h5>rating : {{product.rating}}</h5>
        <h3>{{product.brand_name}}</h3>
        <h5>{{product.description}}</h5>
        <h4>{{getPrice(product.price,product.discount)}} | <s>{{product.price}}</s>({{product.discount}}off)</h4>
    </div>

    }
</div>

<div id="product_details">
    <div id="left">
        div
        <img [src]="products_details[0].image_url1" alt="">
        <img [src]="products_details[0].image_url2" alt="">
        <img [src]="products_details[0].image_url3" alt="">
        <img [src]="products_details[0].image_url4" alt="">
    </div>
    <div id="right">
        <h5>rating : {{products_details[0].rating}}</h5>
        <h3>{{products_details[0].brand_name}}</h3>
        <h5>{{products_details[0].description}}</h5>
        <h4>{{getPrice(products_details[0].price,products_details[0].discount)}} | <s>{{products_details[0].price}}</s>({{products_details[0].discount}}off)</h4>

    </div>
</div>